<p style="padding-top:20px"><p>
<section id="courseArchive">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div ng-repeat="event in events" ng-show="filterCategory(event.categories)||first">                
                    <!-- start single blog archive -->
                    <div class="row">
                        <div class="single_blog_archive wow fadeInUp ">
                            <div class=" col-lg-3 blogimg_container event" >
                              <a href="./{{event.id}}/eventdetails" class="blog_img">
                                <img alt="img" src="../laravelproject/{{event.logo}}">
                              </a>
                            </div>
                            <div class=" col-lg-8" >
                                <h2 class="blog_title"><a href="./{{event.id}}/eventdetails">{{event.title}}</a></h2>
                                <div star-Rating class="myRating" ng-model='event.avg_rate'></div><br>
                                <br>
                                <div class="blog_commentbox">
                                  <p><i class="fa fa-clock-o"></i> الميعاد:{{event.start_date}} </p><br>
                                  <p><i class="fa fa-map-marker"></i>المكان: {{event.full_address}}</p>                    
                                </div>
                                <p class="blog_summary"> {{event.description}} </p>
                                <a class="blog_readmore" href="./{{event.id}}/eventdetails">التفاصيل</a>
                                
                                <a class="col-sm-offset-6" href="./{{event.id}}/eventdetails/edit" ng-show="currentUser.isVolunteer==false && event.organization_id==currentUser.role_id" ><button class="wpcf7-edit"> تعديل <i class="fa fa-pencil-square-o"></i></button></a>
                                
                            </div>
                        </div>
                    </div>

                    <!-- End single blog archive -->                
                </div> 
                <!-- start previous & next button -->
                <div class="row">
                      <!-- start previous & next button -->
                    <div class="col-lg-9 single_blog_prevnext">
                        <button ng-click="previous()" class="prev_post wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"><i class="fa fa-angle-left"></i>Previous</button>
                        <button ng-click="next()" class="next_post wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">Next<i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>   
            <div class="col-sm-3">
                    <div class="row">
                        <div class="col-xs-9">
                            <input type="button" class="btn btn-info" data-toggle="collapse" data-target="#categories" value="الاهتمامات :">
                            <div id="categories" class="collapse">
                                <div class="list-group " ng-repeat="category in categories">
                                  <input type="checkbox" name="" ng-checked="exist(category.name)" ng-click="toggleSelection(category.name)">{{category.name}}
                                </div>  
                          </div>
                        </div>
                    </div>
            </div>
            

        </div>
    </div>
</section>