<link rel="stylesheet" type="text/css" href="css/droid-sans.css" />
<section id="courseArchive">
<form name="storyForm" novalidate ng-submit="edit(storyForm.$valid)" class="well storyForms"  method="POST"  id="editStoryForm">
<fieldset>
<!-- Form Name -->
<legend>عدل القصة</legend>

<!-- Text input-->

<div class="form-group col-md-12">
<div class="col-md-1"></div>
  <label class="col-md-2 control-label">عنوان القصة</label>
  <div class="col-md-7">
  <input required ng-model="story.title"  name="title" placeholder="العنوان" class="wp-form-control wpcf7-text"  type="text">
 </div>
  </div>

<!-- Text area -->
  
<div class="form-group col-md-12">
<div class="col-md-1"></div>
  <label class="col-md-2 control-label">المحتوى</label>
    <div class="col-md-7">

          <textarea required ng-model="story.content" class="wp-form-control wpcf7-textarea" name="content" placeholder="الوصف"></textarea>

  </div>

</div>

<!-- Button -->
<div class="form-group col-md-12">
  <div class="col-md-4 col-md-offset-5">
    <button class="wpcf7-submit" >حفظ  <i class="fa fa-floppy-o"></i></button>
     <a href="javascript:history.back()" ><button type="button" class="wpcf7-delete"> إلغاء <i class="fa fa-ban"></i></span></button></a>
  </div>
</div>

</fieldset>
</form>
           </div>
         </div>
       </div>
      </div>
    </section>
    <!--=========== END CONTACT SECTION ================-->
<script src="app/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="js/add-event.js"></script>
<script>
   $('#editStoryForm').validate();
</script>
 
<style>
  .error{
    color: red;
  }
  #editStoryForm{
    font-family: 'droid-sans';
    font-size: 16px;
  }
  label{
    color: #78adc9;
  }
</style>